[bumpversion]
current_version = 3.0.0
commit = True
tag = False
message = chore(release): bump version {current_version} to {new_version}

[bumpversion:file:VERSION]

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
